body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 228, 196);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header h1 {
    padding-left: 50px;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading3 {
    text-align: center;
    font-size: 100px;
}

#logo {
    max-width: 250px;
}

#nav-buttons {
    text-align: center;
    float: right;
    width: 75%;
}

.nav-button {
    display: inline-block;
    padding: 30px 75px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: rgb(70, 70, 70);
    transform: scale(1.10);
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.recipe-content {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.recipe-text {
    width: 50%; 
    padding: 20px;
    box-sizing: border-box;
}

.recipe-image {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.left, .right {
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(192, 192, 192, 0.432);
}

.left img {
    padding-left: 150px;
    height: 250px;
    width: 48%;
}

.right img {
    padding-left: 150px;
    height: 250px;
    width: 48%;
}

#hideList {
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
}

#hideList:hover {
    background-color: rgb(70, 70, 70);
    transform: scale(1.10);
}

footer {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}